.form-title{
	margin-left: 12em;
}

.new_user{
  margin: 6em auto;
	width: 50%;
	input {
		width: 99%;
		margin: 0 auto;
		display: block;
	}
	input[type="email"], input[type="password"] {
		padding: 4px 0px;
		text-indent: 6px;
	}
}

.off-name{
  margin-bottom: 2em;
}

.email{
  margin-top: -1.2em;
	input {
		height: 3em;
		margin-bottom: 1px;
	}
}

.password{
  margin-top: 1.8em;
	input {
		height: 3em;
	  margin-bottom: 1px;
	}
}

.password-confirm{
  margin-top: 1.7em;
	input {
		height: 3em;
	}
}

.actions{
  margin-top: 1.7em;
	a {
		width: 50%;
		margin: 0 auto;
		display: block;
	}
	a:hover {
		text-decoration: none;
	}
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 11em;
  margin: 0 1em 0 0;
}

#search{
  margin-left: 16em;
  width: 60%;
  float: left;
  margin-top: 1em;
  text-align: center;
  padding: 0.5em;
  position: absolute;
}

.pure-input-1-2:focus{
  border: 1px solid green;
}

input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
	font-size: 1.3em;
}

input[type="text"]{
  height:3em;
  margin-right: 1em;
}
